# See http://help.github.com/ignore-files/ for more about ignoring files.

# package directories
node_modules

# compiled output
dist

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
npm-debug.log
.nyc_output
